
    <div class="flex justify-between items-center text-white p-2 feh pb-3 ">
       <div><p>Recents</p></div>
       <div class="flex justify-between items-center gap-3">
        <button class="flex items-center gap-1 bg-purple-800 py-2 text-sm  px-2 rounded">Design file <span class="material-symbols-outlined ">
            keyboard_arrow_down
            </span></button>
        <button class="flex items-center gap-1 bg-blue-400 py-2 text-sm  px-2 rounded">FigJam Board <span class="material-symbols-outlined ">
            keyboard_arrow_down
            </span></button>
            <button class="flex items-center gap-1 led py-2 text-sm  px-2 rounded">Import</button>
       </div>
    </div>
  <main class="bod">
    <div class="rad"><button>Recently Viewed</button>
    <p>Shared files</p>
    <p>Shared projets</p>
    </div>

    <div class="rad1">
        <p class="flex gap-1">All organizations <span class="material-symbols-outlined met ">
            keyboard_arrow_down
            </span></p>
        <p class="flex gap-1">All Files <span class="material-symbols-outlined met">
            keyboard_arrow_down
            </span></p>
        <p class="flex gap-1">Last viewed <span class="material-symbols-outlined met">
            keyboard_arrow_down
            </span></p>

            <button>
                <span class="material-symbols-outlined met">
                    dashboard
                    </span>
            </button>
            <p><span class="material-symbols-outlined">
                horizontal_split
                </span></p>
        </div>
  </main>