<main class="p-3 flex flex-wrap justify-between mat">
    <div class="p-2 homw">
        <div class="hom">
            <img src="assets/file thumbnail (1).png" alt="">
        </div>
        <div class="text-white">
            <b>Skytrad: online acesss trade and invest..</b>
            <p class="text-sm mt-1">Edited 3 months ago</p>
        </div>
    </div>

    <div class="p-2 homw">
        <div class="hom">
            <img src="assets/office 4.png" alt="">
        </div>
        <div class="text-white">
            <b>Skytrad: online acesss trade and invest..</b>
            <p class="text-sm mt-1">Edited 3 months ago</p>
        </div>
    </div>

    <div class="p-2 homw">
        <div class="hom">
            <img src="assets/office.jpg" alt="">
        </div>
        <div class="text-white">
            <b>Skytrad: online acesss trade and invest..</b>
            <p class="text-sm mt-1">Edited 3 months ago</p>
        </div>
    </div>

    <div class="p-2 homw">
        <div class="hom">
            <img src="assets/office2.jpg" alt="">
        </div>
        <div class="text-white">
            <b>Skytrad: online acesss trade and invest..</b>
            <p class="text-sm mt-1">Edited 3 months ago</p>
        </div>
    </div>

    <div class="p-2 homw">
        <div class="hom">
            <img src="assets/file thumbnail.png" alt="">
        </div>
        <div class="text-white">
            <b>Skytrad: online acesss trade and invest..</b>
            <p class="text-sm mt-1">Edited 3 months ago</p>
        </div>
    </div>

    <div class="p-2 homw">
        <div class="hom">
            <img src="assets/office5.webp" alt="">
        </div>
        <div class="text-white">
            <b>Skytrad: online acesss trade and invest..</b>
            <p class="text-sm mt-1">Edited 3 months ago</p>
        </div>
    </div>

</main>